#单机
singleServerConfig:
  idleConnectionTimeout: 10000
  connectTimeout: 10000
  timeout: 300000
  retryAttempts: 3
  retryInterval: 1500
  password: fancky123456
  subscriptionsPerConnection: 5
  clientName: null
  #  会覆盖springboot的redis的配置
  address: "redis://127.0.0.1:6379"
#  address: "redis://10.100.200.43:6379"
  subscriptionConnectionMinimumIdleSize: 1
  subscriptionConnectionPoolSize: 50
  connectionMinimumIdleSize: 32
  connectionPoolSize: 64
#  会覆盖springboot的redis的配置
  database: 11
  dnsMonitoringInterval: 5000
threads: 0
nettyThreads: 0
# 默认 org.redisson.codec.MarshallingCodec；；"org.redisson.codec.JsonJacksonCodec"
codec:
  class: "org.redisson.codec.MarshallingCodec"
transportMode: "NIO"




##集群模式
#clusterServersConfig:
#  idleConnectionTimeout: 10000
#  connectTimeout: 10000
#  timeout: 3000
#  retryAttempts: 3
#  retryInterval: 1500
#  failedSlaveReconnectionInterval: 3000
#  failedSlaveCheckInterval: 60000
#  password: fancky123456
#  subscriptionsPerConnection: 5
#  clientName: null
#  loadBalancer: !<org.redisson.connection.balancer.RoundRobinLoadBalancer> {}
#  subscriptionConnectionMinimumIdleSize: 1
#  subscriptionConnectionPoolSize: 50
#  slaveConnectionMinimumIdleSize: 24
#  slaveConnectionPoolSize: 64
#  masterConnectionMinimumIdleSize: 24
#  masterConnectionPoolSize: 64
#  readMode: "SLAVE"
#  subscriptionMode: "SLAVE"
#  nodeAddresses:
#    - "redis://127.0.0.1:7000"
#    - "redis://127.0.0.1:7001"
#    - "redis://127.0.0.1:7002"
#    - "redis://127.0.0.1:7003"
#    - "redis://127.0.0.1:7004"
#    - "redis://127.0.0.1:7005"
#  scanInterval: 1000
#  pingConnectionInterval: 30000
#  keepAlive: false
#  tcpNoDelay: true
#threads: 16
#nettyThreads: 32
#codec: !<org.redisson.codec.MarshallingCodec> {}
#transportMode: "NIO"
