<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gs.com.gses.mapper.wms.ApplyShipOrderItemMapper">

    <resultMap id="BaseResultMap" type="gs.com.gses.model.entity.ApplyShipOrderItem">
            <id property="id" column="Id" jdbcType="BIGINT"/>
            <result property="applyShipOrderId" column="ApplyShipOrderId" jdbcType="BIGINT"/>
            <result property="rowNo" column="RowNo" jdbcType="INTEGER"/>
            <result property="thirdPartyRowNo" column="ThirdPartyRowNo" jdbcType="VARCHAR"/>
            <result property="XStatus" column="XStatus" jdbcType="INTEGER"/>
            <result property="materialId" column="MaterialId" jdbcType="BIGINT"/>
            <result property="batchNo" column="BatchNo" jdbcType="VARCHAR"/>
            <result property="batchNo2" column="BatchNo2" jdbcType="VARCHAR"/>
            <result property="batchNo3" column="BatchNo3" jdbcType="VARCHAR"/>
            <result property="packageUnitId" column="PackageUnitId" jdbcType="BIGINT"/>
            <result property="requiredNumber" column="RequiredNumber" jdbcType="DECIMAL"/>
            <result property="requiredUnit" column="RequiredUnit" jdbcType="VARCHAR"/>
            <result property="allocatedNumber" column="AllocatedNumber" jdbcType="DECIMAL"/>
            <result property="pickedNumber" column="PickedNumber" jdbcType="DECIMAL"/>
            <result property="comments" column="Comments" jdbcType="VARCHAR"/>
            <result property="str1" column="Str1" jdbcType="VARCHAR"/>
            <result property="str2" column="Str2" jdbcType="VARCHAR"/>
            <result property="str3" column="Str3" jdbcType="VARCHAR"/>
            <result property="str4" column="Str4" jdbcType="VARCHAR"/>
            <result property="str5" column="Str5" jdbcType="VARCHAR"/>
            <result property="str6" column="Str6" jdbcType="VARCHAR"/>
            <result property="str7" column="Str7" jdbcType="VARCHAR"/>
            <result property="str8" column="Str8" jdbcType="VARCHAR"/>
            <result property="str9" column="Str9" jdbcType="VARCHAR"/>
            <result property="str10" column="Str10" jdbcType="VARCHAR"/>
            <result property="str11" column="Str11" jdbcType="VARCHAR"/>
            <result property="str12" column="Str12" jdbcType="VARCHAR"/>
            <result property="str13" column="Str13" jdbcType="VARCHAR"/>
            <result property="str14" column="Str14" jdbcType="VARCHAR"/>
            <result property="str15" column="Str15" jdbcType="VARCHAR"/>
            <result property="str16" column="Str16" jdbcType="VARCHAR"/>
            <result property="str17" column="Str17" jdbcType="VARCHAR"/>
            <result property="str18" column="Str18" jdbcType="VARCHAR"/>
            <result property="str19" column="Str19" jdbcType="VARCHAR"/>
            <result property="str20" column="Str20" jdbcType="VARCHAR"/>
            <result property="m_Str1" column="M_Str1" jdbcType="VARCHAR"/>
            <result property="m_Str2" column="M_Str2" jdbcType="VARCHAR"/>
            <result property="m_Str3" column="M_Str3" jdbcType="VARCHAR"/>
            <result property="m_Str4" column="M_Str4" jdbcType="VARCHAR"/>
            <result property="m_Str5" column="M_Str5" jdbcType="VARCHAR"/>
            <result property="m_Str6" column="M_Str6" jdbcType="VARCHAR"/>
            <result property="m_Str7" column="M_Str7" jdbcType="VARCHAR"/>
            <result property="m_Str8" column="M_Str8" jdbcType="VARCHAR"/>
            <result property="m_Str9" column="M_Str9" jdbcType="VARCHAR"/>
            <result property="m_Str10" column="M_Str10" jdbcType="VARCHAR"/>
            <result property="m_Str11" column="M_Str11" jdbcType="VARCHAR"/>
            <result property="m_Str12" column="M_Str12" jdbcType="VARCHAR"/>
            <result property="m_Str13" column="M_Str13" jdbcType="VARCHAR"/>
            <result property="m_Str14" column="M_Str14" jdbcType="VARCHAR"/>
            <result property="m_Str15" column="M_Str15" jdbcType="VARCHAR"/>
            <result property="m_Str16" column="M_Str16" jdbcType="VARCHAR"/>
            <result property="m_Str17" column="M_Str17" jdbcType="VARCHAR"/>
            <result property="m_Str18" column="M_Str18" jdbcType="VARCHAR"/>
            <result property="m_Str19" column="M_Str19" jdbcType="VARCHAR"/>
            <result property="m_Str20" column="M_Str20" jdbcType="VARCHAR"/>
            <result property="m_Str21" column="M_Str21" jdbcType="VARCHAR"/>
            <result property="m_Str22" column="M_Str22" jdbcType="VARCHAR"/>
            <result property="m_Str23" column="M_Str23" jdbcType="VARCHAR"/>
            <result property="m_Str24" column="M_Str24" jdbcType="VARCHAR"/>
            <result property="m_Str25" column="M_Str25" jdbcType="VARCHAR"/>
            <result property="m_Str26" column="M_Str26" jdbcType="VARCHAR"/>
            <result property="m_Str27" column="M_Str27" jdbcType="VARCHAR"/>
            <result property="m_Str28" column="M_Str28" jdbcType="VARCHAR"/>
            <result property="m_Str29" column="M_Str29" jdbcType="VARCHAR"/>
            <result property="m_Str30" column="M_Str30" jdbcType="VARCHAR"/>
            <result property="m_Str31" column="M_Str31" jdbcType="VARCHAR"/>
            <result property="m_Str32" column="M_Str32" jdbcType="VARCHAR"/>
            <result property="m_Str33" column="M_Str33" jdbcType="VARCHAR"/>
            <result property="m_Str34" column="M_Str34" jdbcType="VARCHAR"/>
            <result property="m_Str35" column="M_Str35" jdbcType="VARCHAR"/>
            <result property="m_Str36" column="M_Str36" jdbcType="VARCHAR"/>
            <result property="m_Str37" column="M_Str37" jdbcType="VARCHAR"/>
            <result property="m_Str38" column="M_Str38" jdbcType="VARCHAR"/>
            <result property="m_Str39" column="M_Str39" jdbcType="VARCHAR"/>
            <result property="m_Str40" column="M_Str40" jdbcType="VARCHAR"/>
            <result property="creatorId" column="CreatorId" jdbcType="OTHER"/>
            <result property="creatorName" column="CreatorName" jdbcType="VARCHAR"/>
            <result property="lastModifierId" column="LastModifierId" jdbcType="OTHER"/>
            <result property="lastModifierName" column="LastModifierName" jdbcType="VARCHAR"/>
            <result property="creationTime" column="CreationTime" jdbcType="BIGINT"/>
            <result property="lastModificationTime" column="LastModificationTime" jdbcType="BIGINT"/>
            <result property="waitAllocatNumber" column="WaitAllocatNumber" jdbcType="DECIMAL"/>
            <result property="expiredTime" column="ExpiredTime" jdbcType="BIGINT"/>
            <result property="inboundTime" column="InboundTime" jdbcType="BIGINT"/>
            <result property="productTime" column="ProductTime" jdbcType="BIGINT"/>
            <result property="QCStatus" column="QCStatus" jdbcType="INTEGER"/>
            <result property="organiztionId" column="OrganiztionId" jdbcType="BIGINT"/>
            <result property="shipAccordingToOrderCode" column="ShipAccordingToOrderCode" jdbcType="VARCHAR"/>
            <result property="destination" column="Destination" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,ApplyShipOrderId,RowNo,
        ThirdPartyRowNo,XStatus,MaterialId,
        BatchNo,BatchNo2,BatchNo3,
        PackageUnitId,RequiredNumber,RequiredUnit,
        AllocatedNumber,PickedNumber,Comments,
        Str1,Str2,Str3,
        Str4,Str5,Str6,
        Str7,Str8,Str9,
        Str10,Str11,Str12,
        Str13,Str14,Str15,
        Str16,Str17,Str18,
        Str19,Str20,M_Str1,
        M_Str2,M_Str3,M_Str4,
        M_Str5,M_Str6,M_Str7,
        M_Str8,M_Str9,M_Str10,
        M_Str11,M_Str12,M_Str13,
        M_Str14,M_Str15,M_Str16,
        M_Str17,M_Str18,M_Str19,
        M_Str20,M_Str21,M_Str22,
        M_Str23,M_Str24,M_Str25,
        M_Str26,M_Str27,M_Str28,
        M_Str29,M_Str30,M_Str31,
        M_Str32,M_Str33,M_Str34,
        M_Str35,M_Str36,M_Str37,
        M_Str38,M_Str39,M_Str40,
        CreatorId,CreatorName,LastModifierId,
        LastModifierName,CreationTime,LastModificationTime,
        WaitAllocatNumber,ExpiredTime,InboundTime,
        ProductTime,QCStatus,OrganiztionId,
        ShipAccordingToOrderCode,Destination
    </sql>
</mapper>
