<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gs.com.gses.mapper.wms.ConveyorLanewayMapper">

    <resultMap id="BaseResultMap" type="gs.com.gses.model.entity.ConveyorLaneway">
            <id property="conveyorsId" column="ConveyorsId" jdbcType="BIGINT"/>
            <id property="lanewaysId" column="LanewaysId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        ConveyorsId,LanewaysId
    </sql>
</mapper>
