<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gs.com.gses.mapper.wms.MqMessageMapper">

    <resultMap id="BaseResultMap" type="gs.com.gses.model.entity.MqMessage">
            <id property="id" column="Id" jdbcType="BIGINT"/>
            <result property="msgId" column="MsgId" jdbcType="VARCHAR"/>
            <result property="msgContent" column="MsgContent" jdbcType="VARCHAR"/>
            <result property="exchange" column="Exchange" jdbcType="VARCHAR"/>
            <result property="routeKey" column="RouteKey" jdbcType="VARCHAR"/>
            <result property="queue" column="Queue" jdbcType="VARCHAR"/>
            <result property="topic" column="Topic" jdbcType="VARCHAR"/>
            <result property="tag" column="Tag" jdbcType="VARCHAR"/>
            <result property="remark" column="Remark" jdbcType="VARCHAR"/>
            <result property="creatorId" column="CreatorId" jdbcType="OTHER"/>
            <result property="creatorName" column="CreatorName" jdbcType="VARCHAR"/>
            <result property="lastModifierId" column="LastModifierId" jdbcType="OTHER"/>
            <result property="lastModifierName" column="LastModifierName" jdbcType="VARCHAR"/>
            <result property="creationTime" column="CreationTime" jdbcType="BIGINT"/>
            <result property="lastModificationTime" column="LastModificationTime" jdbcType="BIGINT"/>
            <result property="businessKey" column="BusinessKey" jdbcType="VARCHAR"/>
            <result property="deleted" column="Deleted" jdbcType="INTEGER"/>
            <result property="errorStack" column="ErrorStack" jdbcType="VARCHAR"/>
            <result property="failureReason" column="FailureReason" jdbcType="VARCHAR"/>
            <result property="maxRetryCount" column="MaxRetryCount" jdbcType="INTEGER"/>
            <result property="nextRetryTime" column="NextRetryTime" jdbcType="TIMESTAMP"/>
            <result property="retryCount" column="RetryCount" jdbcType="INTEGER"/>
            <result property="status" column="Status" jdbcType="INTEGER"/>
            <result property="version" column="Version" jdbcType="INTEGER"/>
            <result property="businessId" column="BusinessId" jdbcType="BIGINT"/>
            <result property="retry" column="Retry" jdbcType="BIT"/>
            <result property="sendMq" column="SendMq" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,MsgId,MsgContent,
        Exchange,RouteKey,Queue,
        Topic,Tag,Remark,
        CreatorId,CreatorName,LastModifierId,
        LastModifierName,CreationTime,LastModificationTime,
        BusinessKey,Deleted,ErrorStack,
        FailureReason,MaxRetryCount,NextRetryTime,
        RetryCount,Status,Version,
        BusinessId,Retry,SendMq
    </sql>
</mapper>
