<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gs.com.gses.mapper.wms.ShipPickOrderItemMapper">

    <resultMap id="BaseResultMap" type="gs.com.gses.model.entity.ShipPickOrderItem">
            <id property="id" column="Id" jdbcType="BIGINT"/>
            <result property="shipPickOrderId" column="ShipPickOrderId" jdbcType="BIGINT"/>
            <result property="shipOrderItemId" column="ShipOrderItemId" jdbcType="BIGINT"/>
            <result property="planPkgQuantity" column="PlanPkgQuantity" jdbcType="DECIMAL"/>
            <result property="allocatedPkgQuantity" column="AllocatedPkgQuantity" jdbcType="DECIMAL"/>
            <result property="movedPkgQuantity" column="MovedPkgQuantity" jdbcType="DECIMAL"/>
            <result property="fromLocId" column="FromLocId" jdbcType="BIGINT"/>
            <result property="fromLocCode" column="FromLocCode" jdbcType="VARCHAR"/>
            <result property="toLocId" column="ToLocId" jdbcType="BIGINT"/>
            <result property="toLocCode" column="ToLocCode" jdbcType="VARCHAR"/>
            <result property="creatorId" column="CreatorId" jdbcType="OTHER"/>
            <result property="creatorName" column="CreatorName" jdbcType="VARCHAR"/>
            <result property="lastModifierId" column="LastModifierId" jdbcType="OTHER"/>
            <result property="lastModifierName" column="LastModifierName" jdbcType="VARCHAR"/>
            <result property="creationTime" column="CreationTime" jdbcType="BIGINT"/>
            <result property="lastModificationTime" column="LastModificationTime" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,ShipPickOrderId,ShipOrderItemId,
        PlanPkgQuantity,AllocatedPkgQuantity,MovedPkgQuantity,
        FromLocId,FromLocCode,ToLocId,
        ToLocCode,CreatorId,CreatorName,
        LastModifierId,LastModifierName,CreationTime,
        LastModificationTime
    </sql>
</mapper>
