<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gs.com.gses.mapper.wms.ShipPickOrderMapper">

    <resultMap id="BaseResultMap" type="gs.com.gses.model.entity.ShipPickOrder">
            <id property="id" column="Id" jdbcType="BIGINT"/>
            <result property="warehouseId" column="WarehouseId" jdbcType="BIGINT"/>
            <result property="shipOrderId" column="ShipOrderId" jdbcType="BIGINT"/>
            <result property="billTypeId" column="BillTypeId" jdbcType="BIGINT"/>
            <result property="status" column="Status" jdbcType="INTEGER"/>
            <result property="planPkgQuantity" column="PlanPkgQuantity" jdbcType="DECIMAL"/>
            <result property="allocatedPkgQuantity" column="AllocatedPkgQuantity" jdbcType="DECIMAL"/>
            <result property="movedPkgQuantity" column="MovedPkgQuantity" jdbcType="DECIMAL"/>
            <result property="creatorId" column="CreatorId" jdbcType="OTHER"/>
            <result property="creatorName" column="CreatorName" jdbcType="VARCHAR"/>
            <result property="lastModifierId" column="LastModifierId" jdbcType="OTHER"/>
            <result property="lastModifierName" column="LastModifierName" jdbcType="VARCHAR"/>
            <result property="creationTime" column="CreationTime" jdbcType="BIGINT"/>
            <result property="lastModificationTime" column="LastModificationTime" jdbcType="BIGINT"/>
            <result property="shipPickOrderCode" column="ShipPickOrderCode" jdbcType="VARCHAR"/>
            <result property="completeTime" column="CompleteTime" jdbcType="TIMESTAMP"/>
            <result property="effectTime" column="EffectTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,WarehouseId,ShipOrderId,
        BillTypeId,Status,PlanPkgQuantity,
        AllocatedPkgQuantity,MovedPkgQuantity,CreatorId,
        CreatorName,LastModifierId,LastModifierName,
        CreationTime,LastModificationTime,ShipPickOrderCode,
        CompleteTime,EffectTime
    </sql>
</mapper>
