<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gs.com.gses.mapper.wms.ShipOrderMapper">

    <resultMap id="BaseResultMap" type="gs.com.gses.model.entity.ShipOrder">
            <id property="id" column="Id" jdbcType="BIGINT"/>
            <result property="whid" column="Whid" jdbcType="BIGINT"/>
            <result property="XCode" column="XCode" jdbcType="VARCHAR"/>
            <result property="applyShipOrderCode" column="ApplyShipOrderCode" jdbcType="VARCHAR"/>
            <result property="XStatus" column="XStatus" jdbcType="INTEGER"/>
            <result property="billTypeId" column="BillTypeId" jdbcType="BIGINT"/>
            <result property="expectedPkgQuantity" column="ExpectedPkgQuantity" jdbcType="DECIMAL"/>
            <result property="alloactedPkgQuantity" column="AlloactedPkgQuantity" jdbcType="DECIMAL"/>
            <result property="pickedPkgQuantity" column="PickedPkgQuantity" jdbcType="DECIMAL"/>
            <result property="comments" column="Comments" jdbcType="VARCHAR"/>
            <result property="str1" column="Str1" jdbcType="VARCHAR"/>
            <result property="str2" column="Str2" jdbcType="VARCHAR"/>
            <result property="str3" column="Str3" jdbcType="VARCHAR"/>
            <result property="str4" column="Str4" jdbcType="VARCHAR"/>
            <result property="str5" column="Str5" jdbcType="VARCHAR"/>
            <result property="str6" column="Str6" jdbcType="VARCHAR"/>
            <result property="str7" column="Str7" jdbcType="VARCHAR"/>
            <result property="str8" column="Str8" jdbcType="VARCHAR"/>
            <result property="str9" column="Str9" jdbcType="VARCHAR"/>
            <result property="str10" column="Str10" jdbcType="VARCHAR"/>
            <result property="str11" column="Str11" jdbcType="VARCHAR"/>
            <result property="str12" column="Str12" jdbcType="VARCHAR"/>
            <result property="str13" column="Str13" jdbcType="VARCHAR"/>
            <result property="str14" column="Str14" jdbcType="VARCHAR"/>
            <result property="str15" column="Str15" jdbcType="VARCHAR"/>
            <result property="str16" column="Str16" jdbcType="VARCHAR"/>
            <result property="str17" column="Str17" jdbcType="VARCHAR"/>
            <result property="str18" column="Str18" jdbcType="VARCHAR"/>
            <result property="str19" column="Str19" jdbcType="VARCHAR"/>
            <result property="str20" column="Str20" jdbcType="VARCHAR"/>
            <result property="creatorId" column="CreatorId" jdbcType="OTHER"/>
            <result property="creatorName" column="CreatorName" jdbcType="VARCHAR"/>
            <result property="lastModifierId" column="LastModifierId" jdbcType="OTHER"/>
            <result property="lastModifierName" column="LastModifierName" jdbcType="VARCHAR"/>
            <result property="creationTime" column="CreationTime" jdbcType="BIGINT"/>
            <result property="lastModificationTime" column="LastModificationTime" jdbcType="BIGINT"/>
            <result property="organiztionId" column="OrganiztionId" jdbcType="BIGINT"/>
            <result property="destination" column="Destination" jdbcType="VARCHAR"/>
            <result property="toLocCode" column="ToLocCode" jdbcType="VARCHAR"/>
            <result property="toLocId" column="ToLocId" jdbcType="BIGINT"/>
            <result property="proirity" column="Proirity" jdbcType="INTEGER"/>
            <result property="oneClickTime" column="OneClickTime" jdbcType="BIGINT"/>
            <result property="organiztionCustomId" column="OrganiztionCustomId" jdbcType="BIGINT"/>
            <result property="organiztionDepartmentId" column="OrganiztionDepartmentId" jdbcType="BIGINT"/>
            <result property="organiztionSupplierId" column="OrganiztionSupplierId" jdbcType="BIGINT"/>
            <result property="destinationDock" column="DestinationDock" jdbcType="VARCHAR"/>
            <result property="zoneCode" column="ZoneCode" jdbcType="VARCHAR"/>
            <result property="zoneID" column="ZoneID" jdbcType="BIGINT"/>
            <result property="groupFlag" column="GroupFlag" jdbcType="VARCHAR"/>
            <result property="printingTimes" column="PrintingTimes" jdbcType="BIGINT"/>
            <result property="completeTime" column="CompleteTime" jdbcType="TIMESTAMP"/>
            <result property="effectTime" column="EffectTime" jdbcType="TIMESTAMP"/>
            <result property="sufficientInventory" column="SufficientInventory" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,Whid,XCode,
        ApplyShipOrderCode,XStatus,BillTypeId,
        ExpectedPkgQuantity,AlloactedPkgQuantity,PickedPkgQuantity,
        Comments,Str1,Str2,
        Str3,Str4,Str5,
        Str6,Str7,Str8,
        Str9,Str10,Str11,
        Str12,Str13,Str14,
        Str15,Str16,Str17,
        Str18,Str19,Str20,
        CreatorId,CreatorName,LastModifierId,
        LastModifierName,CreationTime,LastModificationTime,
        OrganiztionId,Destination,ToLocCode,
        ToLocId,Proirity,OneClickTime,
        OrganiztionCustomId,OrganiztionDepartmentId,OrganiztionSupplierId,
        DestinationDock,ZoneCode,ZoneID,
        GroupFlag,PrintingTimes,CompleteTime,
        EffectTime,SufficientInventory
    </sql>
</mapper>
