<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gs.com.gses.mapper.wms.TruckOrderItemMapper">

    <resultMap id="BaseResultMap" type="gs.com.gses.model.entity.TruckOrderItem">
            <id property="id" column="Id" jdbcType="BIGINT"/>
            <result property="truckOrderId" column="TruckOrderId" jdbcType="BIGINT"/>
            <result property="projectNo" column="ProjectNo" jdbcType="VARCHAR"/>
            <result property="projectName" column="ProjectName" jdbcType="VARCHAR"/>
            <result property="applyShipOrderCode" column="ApplyShipOrderCode" jdbcType="VARCHAR"/>
            <result property="shipOrderId" column="ShipOrderId" jdbcType="BIGINT"/>
            <result property="shipOrderItemId" column="ShipOrderItemId" jdbcType="BIGINT"/>
            <result property="materialId" column="MaterialId" jdbcType="BIGINT"/>
            <result property="materialCode" column="MaterialCode" jdbcType="VARCHAR"/>
            <result property="deviceName" column="DeviceName" jdbcType="VARCHAR"/>
            <result property="deviceNo" column="DeviceNo" jdbcType="VARCHAR"/>
            <result property="quantity" column="Quantity" jdbcType="DECIMAL"/>
            <result property="sendBatchNo" column="SendBatchNo" jdbcType="VARCHAR"/>
            <result property="remark" column="Remark" jdbcType="VARCHAR"/>
            <result property="deleted" column="Deleted" jdbcType="TINYINT"/>
            <result property="version" column="Version" jdbcType="INTEGER"/>
            <result property="creatorId" column="CreatorId" jdbcType="VARCHAR"/>
            <result property="creatorName" column="CreatorName" jdbcType="VARCHAR"/>
            <result property="lastModifierId" column="LastModifierId" jdbcType="VARCHAR"/>
            <result property="lastModifierName" column="LastModifierName" jdbcType="VARCHAR"/>
            <result property="creationTime" column="CreationTime" jdbcType="TIMESTAMP"/>
            <result property="lastModificationTime" column="LastModificationTime" jdbcType="TIMESTAMP"/>
            <result property="status" column="Status" jdbcType="INTEGER"/>
            <result property="processMsg" column="ProcessMsg" jdbcType="VARCHAR"/>
            <result property="latestProcessTime" column="LatestProcessTime" jdbcType="TIMESTAMP"/>
            <result property="shipOrderCode" column="ShipOrderCode" jdbcType="VARCHAR"/>
            <result property="pallet" column="Pallet" jdbcType="VARCHAR"/>
            <result property="inventoryItemDetailId" column="InventoryItemDetailId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,TruckOrderId,ProjectNo,
        ProjectName,ApplyShipOrderCode,ShipOrderId,
        ShipOrderItemId,MaterialId,MaterialCode,
        DeviceName,DeviceNo,
        Quantity,SendBatchNo,Remark,
        Deleted,Version,CreatorId,
        CreatorName,LastModifierId,LastModifierName,
        CreationTime,LastModificationTime,Status,
        ProcessMsg,LatestProcessTime,ShipOrderCode,
        Pallet,InventoryItemDetailId
    </sql>
</mapper>
