<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gs.com.gses.mapper.wms.WaveShipOrderItemRelationMapper">

    <resultMap id="BaseResultMap" type="gs.com.gses.model.entity.WaveShipOrderItemRelation">
            <id property="id" column="Id" jdbcType="BIGINT"/>
            <result property="shipOrderItemId" column="ShipOrderItemId" jdbcType="BIGINT"/>
            <result property="applyShipOrderItemId" column="ApplyShipOrderItemId" jdbcType="BIGINT"/>
            <result property="requiredNumber" column="RequiredNumber" jdbcType="DECIMAL"/>
            <result property="pickedNumber" column="PickedNumber" jdbcType="DECIMAL"/>
            <result property="creatorId" column="CreatorId" jdbcType="OTHER"/>
            <result property="creatorName" column="CreatorName" jdbcType="VARCHAR"/>
            <result property="lastModifierId" column="LastModifierId" jdbcType="OTHER"/>
            <result property="lastModifierName" column="LastModifierName" jdbcType="VARCHAR"/>
            <result property="creationTime" column="CreationTime" jdbcType="BIGINT"/>
            <result property="lastModificationTime" column="LastModificationTime" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,ShipOrderItemId,ApplyShipOrderItemId,
        RequiredNumber,PickedNumber,CreatorId,
        CreatorName,LastModifierId,LastModifierName,
        CreationTime,LastModificationTime
    </sql>
</mapper>
