<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gs.com.gses.mapper.erp.ErpWorkorderinfoMapper">

    <resultMap id="BaseResultMap" type="gs.com.gses.model.entity.erp.ErpWorkorderinfo">
            <result property="workOrderCode" column="工单号" jdbcType="VARCHAR"/>
            <result property="rowNo" column="项序" jdbcType="INTEGER"/>
            <result property="materialCode" column="料号" jdbcType="VARCHAR"/>
            <result property="requiredQuantity" column="需求数量" jdbcType="DECIMAL"/>
            <result property="percent" column="未齐套" jdbcType="DECIMAL"/>
            <result property="applyCode" column="申请单" jdbcType="VARCHAR"/>
            <result property="applyQuantity" column="申请数量" jdbcType="DECIMAL"/>
            <result property="inBoundCode" column="入库单" jdbcType="VARCHAR"/>
            <result property="inBoundStatus" column="入库状态" jdbcType="VARCHAR"/>
            <result property="workOrderDate" column="工单日期" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        工单号,项序,料号,
        需求数量,未齐套,申请单,
        申请数量,入库单,入库状态,
        工单日期
    </sql>
</mapper>
