<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gs.com.gses.mapper.InspectionRecordMapper">

    <resultMap id="BaseResultMap" type="gs.com.gses.model.entity.InspectionRecord">
            <id property="id" column="Id" jdbcType="BIGINT"/>
            <result property="applyReceiptOrderId" column="ApplyReceiptOrderId" jdbcType="BIGINT"/>
            <result property="applyReceiptOrderCode" column="ApplyReceiptOrderCode" jdbcType="VARCHAR"/>
            <result property="applyReceiptOrderItemId" column="ApplyReceiptOrderItemId" jdbcType="BIGINT"/>
            <result property="applyReceiptOrderItemRowNo" column="ApplyReceiptOrderItemRowNo" jdbcType="INTEGER"/>
            <result property="materialId" column="MaterialId" jdbcType="BIGINT"/>
            <result property="materialCode" column="MaterialCode" jdbcType="VARCHAR"/>
            <result property="projectNo" column="ProjectNo" jdbcType="VARCHAR"/>
            <result property="deviceNo" column="DeviceNo" jdbcType="VARCHAR"/>
            <result property="batchNo" column="BatchNo" jdbcType="VARCHAR"/>
            <result property="inspectionResult" column="InspectionResult" jdbcType="VARCHAR"/>
            <result property="filePath" column="FilePath" jdbcType="VARCHAR"/>
            <result property="deleted" column="Deleted" jdbcType="TINYINT"/>
            <result property="version" column="Version" jdbcType="INTEGER"/>
            <result property="creatorId" column="CreatorId" jdbcType="VARCHAR"/>
            <result property="creatorName" column="CreatorName" jdbcType="VARCHAR"/>
            <result property="lastModifierId" column="LastModifierId" jdbcType="VARCHAR"/>
            <result property="lastModifierName" column="LastModifierName" jdbcType="VARCHAR"/>
            <result property="creationTime" column="CreationTime" jdbcType="TIMESTAMP"/>
            <result property="lastModificationTime" column="LastModificationTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,ApplyReceiptOrderId,ApplyReceiptOrderCode,
        ApplyReceiptOrderItemId,ApplyReceiptOrderItemRowNo,MaterialId,
        MaterialCode,ProjectNo,DeviceNo,
        BatchNo,InspectionResult,FilePath,
        Deleted,Version,CreatorId,
        CreatorName,LastModifierId,LastModifierName,
        CreationTime,LastModificationTime
    </sql>
</mapper>
