<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.LocationMapper">

    <resultMap id="BaseResultMap" type="gs.com.gses.model.entity.Location">
            <id property="id" column="Id" jdbcType="BIGINT"/>
            <result property="XCode" column="XCode" jdbcType="VARCHAR"/>
            <result property="XName" column="XName" jdbcType="VARCHAR"/>
            <result property="XStatus" column="XStatus" jdbcType="INTEGER"/>
            <result property="XType" column="XType" jdbcType="INTEGER"/>
            <result property="lanewayId" column="LanewayId" jdbcType="BIGINT"/>
            <result property="rackId" column="RackId" jdbcType="BIGINT"/>
            <result property="XRack" column="XRack" jdbcType="INTEGER"/>
            <result property="XColumn" column="XColumn" jdbcType="INTEGER"/>
            <result property="XLevel" column="XLevel" jdbcType="INTEGER"/>
            <result property="XDepth" column="XDepth" jdbcType="INTEGER"/>
            <result property="maxLength" column="MaxLength" jdbcType="DECIMAL"/>
            <result property="maxWidth" column="MaxWidth" jdbcType="DECIMAL"/>
            <result property="maxHeight" column="MaxHeight" jdbcType="DECIMAL"/>
            <result property="maxWeight" column="MaxWeight" jdbcType="DECIMAL"/>
            <result property="exceptionComments" column="ExceptionComments" jdbcType="VARCHAR"/>
            <result property="isLocked" column="IsLocked" jdbcType="BIT"/>
            <result property="isLoaded" column="IsLoaded" jdbcType="BIT"/>
            <result property="isCountLocked" column="IsCountLocked" jdbcType="BIT"/>
            <result property="forbidInbound" column="ForbidInbound" jdbcType="BIT"/>
            <result property="forbidInboundComments" column="ForbidInboundComments" jdbcType="VARCHAR"/>
            <result property="forbidOutbound" column="ForbidOutbound" jdbcType="BIT"/>
            <result property="forbidOutboundComments" column="ForbidOutboundComments" jdbcType="VARCHAR"/>
            <result property="str1" column="Str1" jdbcType="VARCHAR"/>
            <result property="str2" column="Str2" jdbcType="VARCHAR"/>
            <result property="str3" column="Str3" jdbcType="VARCHAR"/>
            <result property="str4" column="Str4" jdbcType="VARCHAR"/>
            <result property="str5" column="Str5" jdbcType="VARCHAR"/>
            <result property="creatorId" column="CreatorId" jdbcType="OTHER"/>
            <result property="creatorName" column="CreatorName" jdbcType="VARCHAR"/>
            <result property="lastModifierId" column="LastModifierId" jdbcType="OTHER"/>
            <result property="lastModifierName" column="LastModifierName" jdbcType="VARCHAR"/>
            <result property="creationTime" column="CreationTime" jdbcType="BIGINT"/>
            <result property="lastModificationTime" column="LastModificationTime" jdbcType="BIGINT"/>
            <result property="coloumGroup" column="ColoumGroup" jdbcType="BIGINT"/>
            <result property="groupMaxLength" column="GroupMaxLength" jdbcType="DECIMAL"/>
            <result property="groupMaxWeight" column="GroupMaxWeight" jdbcType="DECIMAL"/>
            <result property="groupMaxWidth" column="GroupMaxWidth" jdbcType="DECIMAL"/>
            <result property="rackGroup" column="RackGroup" jdbcType="BIGINT"/>
            <result property="pickMode" column="PickMode" jdbcType="INTEGER"/>
            <result property="shipMode" column="ShipMode" jdbcType="INTEGER"/>
            <result property="workOrderSendCounts" column="WorkOrderSendCounts" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,XCode,XName,
        XStatus,XType,LanewayId,
        RackId,XRack,XColumn,
        XLevel,XDepth,MaxLength,
        MaxWidth,MaxHeight,MaxWeight,
        ExceptionComments,IsLocked,IsLoaded,
        IsCountLocked,ForbidInbound,ForbidInboundComments,
        ForbidOutbound,ForbidOutboundComments,Str1,
        Str2,Str3,Str4,
        Str5,CreatorId,CreatorName,
        LastModifierId,LastModifierName,CreationTime,
        LastModificationTime,ColoumGroup,GroupMaxLength,
        GroupMaxWeight,GroupMaxWidth,RackGroup,
        PickMode,ShipMode,WorkOrderSendCounts
    </sql>
</mapper>
